PORT=2222

HOST=
DB_USER=
DB_PASS=
DB_NAME=

DB_USER_OFFICIAL_WEBSITE=
DB_PASS_OFFICIAL_WEBSITE=
DB_NAME_OFFICIAL_WEBSITE=

DB_USER_OLD=
DB_PASS_OLD=
DB_NAME_OLD=

JWT_KEY=

EMAIL_HOST=smtp-relay.brevo.com
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=recovery@eugenicspharma.in
